@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  list-style: none;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  
  background-color: #333;
  color: white;
}

h2 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: #84AAA2;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  background-color: #84AAA2;
}

nav ul {
  display: flex;
  height: 100%;
}


nav ul li a {
  padding: 1.2rem;
  display: block;
  position: relative;
  color: white;
}

nav ul li a:hover {
  background-color: #f4f4f4;
  color: #84AAA2;
}

.active {
  background-color: #f4f4f4;
  color: #84AAA2;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  position: relative;

  height: 720px;
  overflow: hidden;

  margin-bottom: 2.5rem;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/main-img.jpeg");
  background-size: cover;
  filter: blur(5px);
}

.hero-inside {
  position: relative;
}

.hero h1 {
  font-size: 7rem;
  font-weight: normal;

}

.hero p {
  font-size: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  flex: 1 0 auto;
}

.info-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  margin: 2.5rem;
  margin-top: 0;
  padding: 1rem;

  background-color: #666;

  border-radius: 10px;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

figure img {
  display: block;
  height: 300px;
  border-radius: 10px;
}

figcaption {
  margin-top: 1rem;
  text-align: center;
}

article span {
  font-size: 200px;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 0 10rem;
}

article h2 {
  margin-bottom: 1rem;
}

.download-section {
  min-height: 335px;
  justify-content: center;
}

.main-download-section {
  margin: 2rem;
  justify-content: space-evenly;
}

.docs-info-box {
  display: block;
  margin: 2rem;
}

.docs-info-box h2 {
  margin-bottom: 1rem;
}

.docs-list {
  counter-reset: counter;
}

.docs-list li {
  counter-increment: counter;
  padding: 0.5rem;
}

.docs-list li::before {
  content: counter(counter) ". ";
  color: #84AAA2;
  font-weight: bold;
}

.docs-list p {
  padding: 0.5rem;
  font-weight: bold;
}

.portrait{
  border: #84AAA2 solid 5px;
}

button{
  border: none;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
  background-color: #84AAA2;
  color: white;
  font-size: 1.5rem;
}

button:hover {
  background-color: #f4f4f4;
  color: #84AAA2;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-shrink: 0;

  text-align: center;
  
  height: 3rem;

  background-color: #666;
}

@media only screen and (max-width: 1023px) {  
  .info-box {
    flex-direction: column;
  }

  article{
    padding: 1rem 5rem;
  }

  .about-info-box {
   margin-top: 2.5rem;
  }
}

@media only screen and (max-width: 600px) {
  nav {
    padding: 0;
  }

  nav ul {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  article {
    padding: 1rem 0;
  }
}

@media only screen and (max-width: 400px) {
  nav ul {
    margin: 0 auto;
  }

  nav ul li a {
    padding: 1.2rem 0.5rem;
  }

  figure img {
    height: 200px;
  }

  .docs-info-box {
    text-align: center;
  }
}